/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('~static/assets/font/Roboto-Regular.ttf') format('truetype');
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('~static/assets/font/Roboto-Medium.ttf') format('truetype');
    
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('~static/assets/font/Roboto-Bold.ttf') format('truetype');
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('~static/assets/font/Roboto-Black.ttf') format('truetype');

  }
  /* vietnamese */
 